/* Reset and basic styling */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://ipfsgw.vottun.tech/ipfs/bafybeifp6qvdqbarhxpmdiyj4fvvnpmyx5khhikgllnqzcrujcjqgq56he'); /* Replace with a Vottun ipfs image link*/
    background-size: cover; /* Ensures the image covers the whole background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
    background-attachment: fixed; /* Makes the background image fixed when scrolling */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background to ensure text readability */
    border-radius: 10px; /* Optional: rounded corners for the container */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: sandybrown; /* Text color for h1 */
    font-size: 10em; /* Adjust font size */
    text-transform: uppercase; /* Uppercase text */
}


/* Gallery display */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid columns */
    gap: 20px;
    justify-items: center; /* Center items horizontally */
}

/* Styling for each NFT card */
.nft-card {
    /*background-color: #fff;*/
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background to ensure text readability */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* Smooth transform animation */
}

.nft-card:hover {
    transform: translateY(-5px); /* Lift card on hover */
}

.nft-card img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd; /* Add a subtle border at the bottom of the image */
    cursor: pointer; /* Indicate that the image is clickable */
    animation: rotateCycle 4s linear infinite alternate; /* Apply animation */
}

@keyframes rotateCycle {
    0% { transform: rotateY(0deg); }
    25% { transform: rotateY(45deg); }
    50% { transform: rotateY(0); }
    75% { transform: rotateY(-45deg); }
    100% { transform: rotateY(0deg); }
}

.nft-card .details {
    padding: 15px;
}

.nft-card .details h2 {
    font-size: 1.2em;
    margin: 0 0 10px;
}

.nft-card .details p {
    margin: 0 0 10px;
    font-size: 0.9em;
    color: #666;
}

.nft-card .details a {
    color: #007bff;
    text-decoration: none;
    font-size: 2em;
}

.nft-card .details a:hover {
    text-decoration: underline;
}

